{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}

[hooks.read-source-state.pre]
    command = {{ joinPath .chezmoi.sourceDir ".install-zv.sh" | quote }}
